.card-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-admin h2,
.card-admin p,
.edit-button,
.delete-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-button,
.delete-button {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--bg-color);
    border-radius: 8px;
    width: 50%;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    font-family: var(--heading-font-family);
}

.edit-button:hover,
.delete-button:hover {
    background-color: var(--accent-color);
    color: var(--text-color-white);
}
