@import url('../styles/global.css');

main {
    width: 100%;
}

.home{
    width: 100%;
    position: relative;
    display: flex;
    min-height: 50vh;
    /* background-color: var(--background-blue); */
    background-image: url('../assets/banner-g.webp');
    background-position: center;
    justify-content: center;
}

h1{
    width: 50%;
    /* margin-top: 6rem; */
    font-size: 2rem;
    color: var(--text-color-white);
    text-align: start;
    margin: 10rem auto auto 3rem;
    font-size: 3.5rem;
    font-family: var(--heading-font-family);
}

.form-control-container {
    margin: auto;
    position: absolute;
    bottom: 2rem;
    display: flex;
    gap: 2rem;
}

.menu-car {
    min-height: 35vh;
}

.menu-car .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    padding: 3rem;
    max-width: 1920px;
    margin: 0 auto;
}

.card-custom{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 8px;
    border: .0625rem solid rgba(0, 0, 0, 0.178);
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.11);
}

.card-body {
    padding: 0;
    margin: 0;
    margin-top: 1rem;

    h3 {
        text-align: start;
        font-size: 2rem;
        font-weight: bold;

        span{
            color: #878585;
            margin-left: .5rem;
            font-weight: 100;
        }
    }

    .about-car {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: start;
        color: #878585;
    }
}

.location {
    display: flex;
    gap: 1rem;

    .location-card {
        text-align: start;
        font-size: 1.1rem;
        display: flex;
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #878585;
    }
}

.btn-custom-menu{
    margin-top:  1rem;
    display: inline-block;
    padding: 1rem 1rem;
    background: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
    color:var(--bg-color);
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .home {
        background-image: url('../assets/banner-p.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .form-control-container {
        display: block; 
    }

    

    .menu-car .card-container {
        padding: 2rem 1rem;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }

    h1 {
        font-size: 2rem;
    }

    .card-custom{
        width: 100%;
        padding: 1rem;
    }
}
